.about {
    display: flex;
    justify-content: space-between;
}

.aboutImgMobile,
.aboutImgDesktop {
    flex: 0 0 40%;
    img {
        border-radius: 5px;
        @include shadow($secondary);
    }
}

.aboutImgMobile {
    display: none;
}

.aboutText {
    // width: 60%;
    flex: 0 0 50%;
    h3 {
        text-align: left;
    }
}