footer {
    height: 100px;
    background-color: $secondary;
    margin-top: 10%;
    position: relative;
    p {
        bottom: 5px;
        text-align: center;
        padding-top: 60px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 15px;
        width: 50%;
        background: linear-gradient(to bottom right, $gradientOneOpacity, $gradientTwoOpacity);
        // border-top: 5vh solid $gradientOneOpacity;
        // border-right: 100vw solid transparent;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 0;
        width: 0;
        border-top: 15px solid $primary;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
    }

}