header {
    height: 90vh;
    min-height: 400px;
    position: relative;
    // bottom: 100px;
    background:
        linear-gradient(to bottom right, $gradientOneOpacity, $gradientTwoOpacity),
        url('../assets/letterBackground.jpg');
    background-size: cover;
    color: $primary;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 0;
        width: 0;
        border-bottom: 5vh solid $secondary;
        border-left: 100vw solid transparent;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 0;
        width: 0;
        border-bottom: 2.5vh solid $primary;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
    }
}

h1 {
    margin: 25px 0;
}

.heroText {
    padding-top: 30vh;
    span {
        font-weight: 500;
        position: relative;
    }
}