header {
    height: 90vh;
    background:
        linear-gradient(to bottom right, $gradientOneOpacity, $gradientTwoOpacity),
        url('../../../../assets/letterBackground.jpg');
    background-size: cover;
    color: $primary;
    &::before {
        content: '';
        position: absolute;
        bottom: 10%;
        height: 0;
        width: 0;
        border-bottom: 5vh solid $secondary;
        border-left: 100vw solid transparent;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 10%;
        height: 0;
        width: 0;
        border-bottom: 2.5vh solid $primary;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
    }
}

h1 {
    margin: 25px 0;
}

.heroText {
    padding-top: 30vh;
    span {
        font-weight: 500;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: -5px;
            height: 0;
            width: 0;
            border-bottom: 3px solid $secondary;
            border-left: 190px solid transparent;
            animation: flip 2s ease infinite;
        }
        &::before {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            height: 0;
            width: 0;
            border-top: 3px solid $secondary;
            border-right: 190px solid transparent;
            animation: flip 2s ease infinite;
        }
    }
}

@keyframes flip {
    35% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
    65% {
        transform: scaleX(1);
    }
}