nav {
    z-index: 2;
    color: #222;
    position: fixed;
    width: 100%;
    background-color: $primary;
    li {
        display: inline-block;
        padding: 0 10px;
        position: relative;
        &:hover::after,
        &:focus::after {
            content: '';
            position: absolute;
            background-color: $secondaryVariant;
            height: 5px;
            width: 100%;
            left: 0;
            bottom: 10px;
            border-radius: 5px;
        }
    }
    a {
        display: inline-block;
        padding: 20px 0;
        text-decoration: none;
    }
}

.navMobile {
    display: none;
    bottom: 0;
}

// .navMobile {
//     display: none;
//     opacity: 0;
//     height: 100%;
//     width: 150px;
//     text-align: center;
// }

// .navMobile {
//     position: fixed;
// }

// input[type=checkbox] {
//     display: none;
// }

// input[type=checkbox]:checked + ul {
//     display: block;
//     opacity: 1;
    // right: 0;
// }