.portfolio {

    > div {
        padding: 100px 0;
    }

    .portfolioImg {
        width: 70%;
    }

    .portfolioDesc {
        width: 50%;
        border: 1px solid black;
        padding: 50px;
        margin-left: -20%;
        background-color: $primary;
        opacity: 0;
    }

    > div:nth-of-type(2n - 1) {
        display: flex;
        align-items: center;
        .portfolioDesc {
            @include shadow($secondary);
            transform: translateX(35%);
            transition: all 1s;
        }
    }

    > div:nth-of-type(2n) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // margin: 200px 0;
        .portfolioDesc {
            @include shadow($secondary, left);
            margin-right: -20%;
            transform: translateX(-35%);
            transition: all 2s;
        }
    }

    .whatsForDinner img {
        border: 1px solid #00F6FF;
    }

    .links {
        display: flex;
        justify-content: space-between;
    }

    a {
        flex: 0 0 40%;
        text-decoration: none;
        background-color: $secondary;
        @include shadow($secondaryVariant);
        padding: 10px;
        margin-top: 20px;
        border-radius: 5px;
        text-align: center;
        transition: 0.1s;
        &:hover,
        &:focus {
            background: linear-gradient(to bottom right, $gradientOne,$gradientTwo);
            color: $primary;

        }
    }

}