.portfolio {

    .portfolioImg {
        width: 70%;
    }

    .portfolioDesc {
        width: 50%;
        border: 1px solid black;
        padding: 50px;
        margin-left: -35%;
        background-color: $primary;
    }

    > div:nth-of-type(2n - 1) {

        display: flex;
        align-items: center;
        .portfolioDesc {
            @include shadow($secondary);
        }
    }

    > div:nth-of-type(2n) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 150px 0;
        .portfolioDesc {
            @include shadow($secondary, left);
            margin-right: -35%;
        }
    }

    .whatsForDinner img {
        border: 1px solid #00F6FF;
    }
}
