$primary: #fff; // white
$secondary: #eeaa39; // yellow
$secondaryVariant: #dce53e;
$accentOne: #5190d0; // blue
$accentOneVariant: #5155d0;
$accentTwo: #ec5959; // red
$accentTwoVariant: #ef9f37;
$accentThree: #49c997; // green
$accentThreeVariant: #5fd3d4;
$accentFour: #e86599; // pink
$accentFourVariant: #cd70ca;
$gradientOne: #874cbf; // purple
// $gradientOneOpacity: rgba(135, 76, 191, 0.5); // purple
$gradientOneOpacity: rgba(81, 144, 208, 0.9); // purple
$gradientTwo: #e14054; // dark pink
$gradientTwoOpacity: rgba(225, 64, 84, 0.9); // dark pink
$altShadow: #f4f4f4;

@mixin shadow($color, $direction:right) {
    @if $direction == left {
        box-shadow: -5px 5px $color;
    } @else {
        box-shadow: 5px 5px $color;
    }
}