a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
}

header {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5190d0), to(#e14054));
  background-image: linear-gradient(to bottom right, #5190d0, #e14054);
  background-size: cover;
  color: #fff;
}

header::before {
  content: '';
  position: absolute;
  bottom: 10%;
  height: 0;
  width: 0;
  border-bottom: 5vh solid #eeaa39;
  border-left: 100vw solid transparent;
}

header::after {
  content: '';
  position: absolute;
  bottom: 10%;
  height: 0;
  width: 0;
  border-bottom: 2.5vh solid #fff;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.heroText {
  padding-top: 250px;
}

.heroText span {
  color: #eeaa39;
  font-weight: 500;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutImg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.aboutImg img {
  -webkit-box-shadow: 5px 5px #eeaa39;
          box-shadow: 5px 5px #eeaa39;
}

.aboutText {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.aboutText h3 {
  text-align: left;
}

.quote {
  background-color: #eeaa39;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -20px;
}

.skillsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
}

.skillsList i {
  font-size: 2.5rem;
}

.skillsList li:nth-of-type(5n - 4) {
  -webkit-box-shadow: 5px 5px #5190d0;
          box-shadow: 5px 5px #5190d0;
}

.skillsList li:nth-of-type(5n - 4) i {
  color: #5155d0;
}

.skillsList li:nth-of-type(5n - 3) {
  -webkit-box-shadow: 5px 5px #ec5959;
          box-shadow: 5px 5px #ec5959;
}

.skillsList li:nth-of-type(5n - 3) i {
  color: #ef9f37;
}

.skillsList li:nth-of-type(5n - 2) {
  -webkit-box-shadow: 5px 5px #49c997;
          box-shadow: 5px 5px #49c997;
}

.skillsList li:nth-of-type(5n - 2) i {
  color: #5fd3d4;
}

.skillsList li:nth-of-type(5n - 1) {
  -webkit-box-shadow: 5px 5px #eeaa39;
          box-shadow: 5px 5px #eeaa39;
}

.skillsList li:nth-of-type(5n - 1) i {
  color: #dce53e;
}

.skillsList li:nth-of-type(5n) {
  -webkit-box-shadow: 5px 5px #e86599;
          box-shadow: 5px 5px #e86599;
}

.skillsList li:nth-of-type(5n) i {
  color: #cd70ca;
}

.portfolio .portfolioImg {
  width: 70%;
}

.portfolio .portfolioDesc {
  width: 50%;
  border: 1px solid black;
  padding: 50px;
  margin-left: -35%;
  background-color: #fff;
}

.portfolio > div:nth-of-type(2n - 1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio > div:nth-of-type(2n - 1) .portfolioDesc {
  -webkit-box-shadow: 5px 5px #eeaa39;
          box-shadow: 5px 5px #eeaa39;
}

.portfolio > div:nth-of-type(2n) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0;
}

.portfolio > div:nth-of-type(2n) .portfolioDesc {
  -webkit-box-shadow: -5px 5px #eeaa39;
          box-shadow: -5px 5px #eeaa39;
  margin-right: -35%;
}

.portfolio .whatsForDinner img {
  border: 1px solid #00F6FF;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label {
  text-transform: uppercase;
}

input {
  border: none;
  -webkit-box-shadow: 3px 3px #eaeaea;
          box-shadow: 3px 3px #eaeaea;
}

input[type=text] {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  height: 40px;
}

input[type=textarea] {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 150px;
  margin-top: 20px;
}

input[type=submit] {
  border: 1px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-top: 20px;
  height: 40px;
}

footer {
  height: 100px;
  background-color: #eeaa39;
  margin-top: 10%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6.5rem;
}

h2,
h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h1,
h3,
h4 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  line-height: 1.3;
  padding-top: 10px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 15% 10% 0 10%;
}

h3 {
  margin-bottom: 50px;
}
