a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
}

header {
  height: 90vh;
  min-height: 400px;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 144, 208, 0.9)), to(rgba(225, 64, 84, 0.9))), url("../assets/letterBackground.jpg");
  background: linear-gradient(to bottom right, rgba(81, 144, 208, 0.9), rgba(225, 64, 84, 0.9)), url("../assets/letterBackground.jpg");
  background-size: cover;
  color: #fff;
}

header::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 5vh solid #eeaa39;
  border-left: 100vw solid transparent;
}

header::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 2.5vh solid #fff;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

h1 {
  margin: 25px 0;
}

.heroText {
  padding-top: 30vh;
}

.heroText span {
  font-weight: 500;
  position: relative;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutImgMobile,
.aboutImgDesktop {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.aboutImgMobile img,
.aboutImgDesktop img {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px #eeaa39;
          box-shadow: 5px 5px #eeaa39;
}

.aboutImgMobile {
  display: none;
}

.aboutText {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.aboutText h3 {
  text-align: left;
}

.quote {
  background-color: #eeaa39;
}

.skills {
  background-color: #f4f4f4;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -20px;
}

.skillsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.skillsList i {
  font-size: 2.5rem;
}

.skillsList li:nth-of-type(5n - 4) {
  -webkit-box-shadow: 5px 5px #5190d0;
          box-shadow: 5px 5px #5190d0;
}

.skillsList li:nth-of-type(5n - 4) i {
  color: #5155d0;
}

.skillsList li:nth-of-type(5n - 3) {
  -webkit-box-shadow: 5px 5px #ec5959;
          box-shadow: 5px 5px #ec5959;
}

.skillsList li:nth-of-type(5n - 3) i {
  color: #ef9f37;
}

.skillsList li:nth-of-type(5n - 2) {
  -webkit-box-shadow: 5px 5px #49c997;
          box-shadow: 5px 5px #49c997;
}

.skillsList li:nth-of-type(5n - 2) i {
  color: #5fd3d4;
}

.skillsList li:nth-of-type(5n - 1) {
  -webkit-box-shadow: 5px 5px #eeaa39;
          box-shadow: 5px 5px #eeaa39;
}

.skillsList li:nth-of-type(5n - 1) i {
  color: #dce53e;
}

.skillsList li:nth-of-type(5n) {
  -webkit-box-shadow: 5px 5px #e86599;
          box-shadow: 5px 5px #e86599;
}

.skillsList li:nth-of-type(5n) i {
  color: #cd70ca;
}

.jQueryBox {
  position: relative;
}

.jQueryIcon {
  position: absolute;
}

.portfolio .portfolioImg {
  width: 70%;
}

.portfolio .portfolioDesc {
  width: 50%;
  border: 1px solid #f4f4f4;
  padding: 50px;
  margin-left: -20%;
  background-color: #fff;
  opacity: 0;
  border-radius: 5px;
  overflow-x: hidden;
}

.portfolio .portfolioDesc > p > a {
  text-transform: capitalize;
  font-family: "Roboto";
}

.portfolio > div:nth-of-type(2n - 1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio > div:nth-of-type(2n - 1) .portfolioDesc {
  -webkit-box-shadow: 5px 5px #eeaa39;
          box-shadow: 5px 5px #eeaa39;
  -webkit-transform: translateX(35%);
          transform: translateX(35%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portfolio > div:nth-of-type(2n) {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio > div:nth-of-type(2n) .portfolioDesc {
  -webkit-box-shadow: -5px 5px #eeaa39;
          box-shadow: -5px 5px #eeaa39;
  margin-right: -20%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.portfolio .whatsForDinner img {
  border: 1px solid #00F6FF;
}

.portfolio .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .links a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-decoration: none;
  background-color: #eeaa39;
  -webkit-box-shadow: 5px 5px #dce53e;
          box-shadow: 5px 5px #dce53e;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.portfolio .links a:hover, .portfolio .links a:focus {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 144, 208, 0.9)), to(rgba(225, 64, 84, 0.9)));
  background: linear-gradient(to bottom right, rgba(81, 144, 208, 0.9), rgba(225, 64, 84, 0.9));
  color: #fff;
}

.portfolio h4 {
  margin-bottom: 20px;
}

.contact {
  background-color: #f4f4f4;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.social a {
  -webkit-box-shadow: 5px 5px #dce53e;
          box-shadow: 5px 5px #dce53e;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
  padding-top: 4px;
  font-size: 2rem;
  margin: 0 20px;
  background-color: #eeaa39;
  border-radius: 5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.social a:hover, .social a:focus {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 144, 208, 0.9)), to(rgba(225, 64, 84, 0.9)));
  background: linear-gradient(to bottom right, rgba(81, 144, 208, 0.9), rgba(225, 64, 84, 0.9));
  color: #fff;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label {
  text-transform: uppercase;
}

input,
textarea {
  border: none;
  -webkit-box-shadow: 3px 3px #f4f4f4;
          box-shadow: 3px 3px #f4f4f4;
  border-radius: 5px;
  padding: 10px;
}

input[type=text],
input[type=email] {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  height: 40px;
}

input[type=text]:focus,
input[type=email]:focus {
  border: 1px solid #dce53e;
  -webkit-box-shadow: 0 0 5px #dce53e;
          box-shadow: 0 0 5px #dce53e;
}

textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 150px;
  margin-top: 20px;
}

textarea:focus {
  border: 1px solid #dce53e;
  -webkit-box-shadow: 0 0 5px #dce53e;
          box-shadow: 0 0 5px #dce53e;
}

input[type=submit] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-top: 20px;
  height: 40px;
  background-color: #eeaa39;
  -webkit-box-shadow: 5px 5px #dce53e;
          box-shadow: 5px 5px #dce53e;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

input[type=submit]:hover, input[type=submit]:focus {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 144, 208, 0.9)), to(rgba(225, 64, 84, 0.9)));
  background: linear-gradient(to bottom right, rgba(81, 144, 208, 0.9), rgba(225, 64, 84, 0.9));
  color: #fff;
}

footer {
  height: 100px;
  background-color: #eeaa39;
  margin-top: 10%;
  position: relative;
}

footer p {
  bottom: 5px;
  text-align: center;
  padding-top: 60px;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  height: 15px;
  width: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(81, 144, 208, 0.9)), to(rgba(225, 64, 84, 0.9)));
  background: linear-gradient(to bottom right, rgba(81, 144, 208, 0.9), rgba(225, 64, 84, 0.9));
}

footer::after {
  content: '';
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
  border-top: 15px solid #fff;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

nav {
  z-index: 2;
  color: #222;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}

nav a {
  display: inline-block;
  padding: 20px 0;
  text-decoration: none;
}

nav a:hover::after, nav a:focus::after {
  content: '';
  position: absolute;
  background-color: #dce53e;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 10px;
  border-radius: 5px;
}

.navMobile {
  display: none;
  bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
a,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #222222;
}

h1 {
  font-size: 6.5rem;
}

h2,
h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h1,
h3,
h4,
a,
input[type=submit] {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  line-height: 1.3;
  padding-top: 10px;
}

h2 {
  line-height: 1.6;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  padding: 100px 10% 100px 10%;
}

header div,
nav ul {
  padding: 0 10% 0 10%;
}

h3 {
  margin-bottom: 50px;
}

@media (max-width: 910px) {
  h1 {
    font-size: 5.5rem;
  }
  .portfolio > div,
  .portfolio > div:nth-of-type(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio > div .portfolioDesc,
  .portfolio > div:nth-of-type(2n) .portfolioDesc {
    margin: -170px 0 0 0;
  }
  .portfolio .portfolioImg {
    width: 100%;
  }
  .portfolio .portfolioDesc {
    width: 80%;
  }
}

@media (max-width: 640px) {
  nav {
    bottom: 0;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav li {
    margin: 0;
    padding: 0;
    bottom: 0;
  }
  nav li a {
    text-transform: lowercase;
  }
  nav li a:hover::after, nav li a:focus::after {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 10px;
    border-radius: 5px;
  }
  footer {
    height: 140px;
  }
  section {
    padding: 15% 10% 20% 10%;
  }
  h1 {
    font-size: 4rem;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about img {
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .aboutImgMobile {
    display: block;
  }
  .aboutImgDesktop {
    display: none;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #fullName {
    margin-bottom: 10px;
  }
}

@media (max-width: 462px) {
  .heroText {
    padding-top: 20vh;
  }
  h1 {
    font-size: 3rem;
  }
  section,
  nav ul {
    padding-left: 5%;
    padding-right: 5%;
  }
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skillsList {
    margin: -10px;
  }
  .skillsList li {
    padding: 5px;
    margin: 10px;
  }
  .portfolio .portfolioDesc {
    padding: 20px;
  }
  .portfolio > div:nth-of-type(2n - 1) .portfolioDesc {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  .portfolio > div:nth-of-type(2n) .portfolioDesc {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
}
